<div class="control-group" <% if(helptext != "") { %>data-toggle="tooltip"<% } %>>
	<label for="dateInput" class="control-label"><%= label %></label>
	<div class="controls input-block">
		<input type="text" class="form-control" name="<%= id %>" ektdesignns_nodetype="element" id="<%= id %>" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= id %>" title="<% if(helptext != "") {%><%= helptext %><% } else { %><%= label %><% } %>" placeholder="<%= placeholder %>" <% if(required) {%>required="required" data-validation-required-message="<%= requiredmessage %>" <% } %>/>
	</div>
</div>