<div class="control-group">
	<label for="<%= name %>" class="control-label sr-only">
		<%= label %>
	</label>
	<div class="full input-block controls">
		
		<ektdesignns_choices title="<%= label %>" ektdesignns_nodetype="element" id="<%= name %>" name="<%= name %>" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= name %>">

	    <% _.each(radios, function(radio, i){ %>

	    <div class="radio">
	      <label>
	        <input type="radio" name="<%= name %>" id="<%= name+'-'+i %>" value="<%= radio %>" ektdesignns_caption="<%= label %> - <%= radio %>" ektdesignns_name="<%= name %>" title="<%= label %> - <%= radio %>" ektdesignns_nodetype="element" <% if (i < 1) { %> <% if(required) {%> required="required" data-validation-required-message="<%= requiredmessage %>"<% } %><% } %>/>
	        <%= radio %>
	      </label>
	    </div>

	    <% }); %>

	    </ektdesignns_choices>
		
	</div>
</div>