<div class="control-group">
	<label for="<%= name %>" class="control-label">
		<% if(hidelabel) { %><span class="sr-only"><% } %><%= label %><% if(hidelabel) { %></span><% } %>
	</label>
	<div class="controls input-block">
		
		<% _.each(checkboxes, function(checkbox, i){ %>

		<div class="checkbox">
			<label>
				<input type="checkbox" name="<%= name+'-'+i %>" id="<%= name+'-'+i %>" value="on" ektdesignns_caption="<%= label %> - <%= checkbox %>" ektdesignns_name="<%= name+'-'+i %>" title="<%= label %> - <%= checkbox %>" ektdesignns_nodetype="element" />
				<%= checkbox %>
			</label>
		</div>

		<% }); %>
		
	</div>
</div>