<div class="control-group" <% if(helptext != "") { %>data-toggle="tooltip"<% } %>>
	<label for="<%= id %>" class="control-label"><%= label %></label>
	<div class="controls input-block">
		<input type="text" name="<%= id %>" class="form-control" ektdesignns_nodetype="element" id="<%= id %>" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= id %>" title="<% if(helptext != "") {%><%= helptext %><% } else { %><%= label %><% } %>" placeholder="<%= placeholder %>" data-validation-regex-message="Please use this format ###-###-####" data-validation-regex-regex="^(\()?\d{3}(\))?(-|\s|\/)?\d{3}(-|\s)?\d{4}$"<% if(required) {%> required="required" data-validation-required-message="<%= requiredmessage %>" <% } %>/>
	</div>
</div>