<div class="control-group" <% if(helptext != "") { %>data-toggle="tooltip"<% } %>>
	<label for="<%= id %>" class="control-label"><%= label %></label>
	<div class="controls input-block">
		<select class="form-control" name="<%= id %>" id="<%= id %>" ektdesignns_maxoccurs="1" ektdesignns_nodetype="element" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= id %>" title="<% if(helptext != "") {%><%= helptext %><% } else { %><%= label %><% } %>"<% if(required) {%> required="required" data-validation-required-message="<%= requiredmessage %>"<% } %>>


    	<option value="" selected="selected"><%= defaultoption %></option>
    	<% _.each(options, function(option) { %>
      <option value="<%= option %>"><%= option %></option><% }); %>
    </select>
	</div>
</div>