<div class="control-group" <% if(helptext != "") { %>data-toggle="tooltip"<% } %>>
	<label for="<%= id %>" class="control-label"><%= label %></label>
	<div class="controls input-block">
		<textarea name="<%= id %>" class="form-control" ektdesignns_nodetype="element" id="<%= id %>" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= id %>" title="<% if(helptext != "") {%><%= helptext %><% } else { %><%= label %><% } %>" placeholder="<%= textarea %>" <% if(required) {%> required="required" data-validation-required-message="<%= requiredmessage %>" <% } %>></textarea>
	</div>
</div>