<?xml version="1.0" encoding="UTF-8"?>
<form>
	<fieldset addfieldpath="/components/com_jxiforms/jxiforms/html/fields" name="config_params">

		<field name="approval_send_email" type="radio"
			label="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_LABEL" 
			description="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_DESC"
			class="btn-group" 
			size="1" default="1" >
			<option value="1">COM_JXIFORMS_YES</option>
			<option value="0">COM_JXIFORMS_NO</option>
		</field>

		<field name="approval_send_email_to" type="text"
			label="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_TO_LABEL" 
			description="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_TO_DESC"
			size="45" 
		/>
		
		<field name="approval_send_email_group" type="jxiforms.jusergroups"
			label="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_GROUP_LABEL" 
			description="COM_JXIFORMS_CONFIG_APPROVAL_SEND_EMAIL_GROUP_DESC"
			class="multiselect"
			multiple="true"
		/>
		
		<field name="bucket_path" type="hidden"
			label="COM_JXIFORMS_CONFIG_CURRENT_BUCKET_PATH_LABEL" 
			description="COM_JXIFORMS_CONFIG_CURRENT_BUCKET_PATH_DESC"
			default="/media/com_jxiforms/queue/data/"
			size="45" 
		/>
		
		<field name="current_bucket" type="hidden"
			label="COM_JXIFORMS_CONFIG_CURRENT_BUCKET_PATH_LABEL" 
			description="COM_JXIFORMS_CONFIG_CURRENT_BUCKET_PATH_DESC"
			default="bucket1"
			size="45" 
		/>
		
		<field name="cron_run_automatic" type="radio"
			label="COM_JXIFORMS_CONFIG_CRON_RUN_AUTOMATIC_LABEL" 
			description="COM_JXIFORMS_CONFIG_CRON_RUN_AUTOMATIC_DESC"
			class="btn-group" 
			size="1" default="1" >
			<option value="1">COM_JXIFORMS_YES</option>
			<option value="0">COM_JXIFORMS_NO</option>
		</field>
		
		<field name="cron_frequency" type="radio" 
			   default="900"
			   label="COM_JXIFORMS_CONFIG_CRON_FREQUENCY_LABEL" 
			   description="COM_JXIFORMS_CONFIG_CRON_FREQUENCY_DESC"
			   class="btn-group">
			<option value="3600">COM_JXIFORMS_CONFIG_CRON_FREQUENCY_LOWEST</option>
			<option value="1800">COM_JXIFORMS_CONFIG_CRON_FREQUENCY_LOW</option>
			<option value="900">COM_JXIFORMS_CONFIG_CRON_FREQUENCY_NORMAL</option>
			<option value="300">COM_JXIFORMS_CONFIG_CRON_FREQUENCY_HIGH</option>
		</field>
		
		<field name="cron_access_time" type="hidden" default="0"
			label="COM_JXIFORMS_CONFIG_CRON_ACCESS_TIME_LABEL" 
			description="COM_JXIFORMS_CONFIG_CRON_ACCESS_TIME_DESC" 
			/>
		
	</fieldset>
	
</form>
